.center {
  text-align: center;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: justify;
}

.left {
  left: 0;
  /* overflow: hidden; */
  margin-left: 50px;
}

.right {
  right: 0;
  justify-content: right;
  margin-right: 120px;
  padding-right: auto;
  text-align: justify;
  /* overflow: hidden; */
}

.tp {
  text-align: justify;
}

.centered {
  position: absolute;
  top: 15%;
  left: 10%;
}

h2 {
  color: #36486b;
}

.split::-webkit-scrollbar {
  display: none;
}
